/* Navbar styles */
.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    font-size: 1.1rem;
    z-index: 2000;
}

.navbar.navbar-expand-lg.navbar-light li a {
    color: rgb(78, 75, 75)
}

.fa-linkedin-in {
    color: rgb(10, 102, 194);
}

.fa-github {
    color: rgb(0, 0, 0)
}

/* End navbar styles */

/* Welcome page styles */
.welcome-msg-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.welcome-msg-message {
    color: #333;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

/* End welcome page styles */
