/* Navbar styles */
.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    font-size: 1.1rem;
    z-index: 2000;
}

.navbar.navbar-expand-lg.navbar-light li a {
    color: rgb(78, 75, 75)
}

.fa-linkedin-in {
    color: rgb(10, 102, 194);
}

.fa-github {
    color: rgb(0, 0, 0)
}

/* End navbar styles */

/* Welcome page styles */
.welcome-msg-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.welcome-msg-message {
    color: #333;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

/* End welcome page styles */

/* Country not found page styles */
.not-found-body {
    background-image: url("/static/imgs/compass-not-found.jpg");
    background-size: cover;
    /* Centers the image */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* Adjust the height as needed */
    height: 100vh;
    display: flex;
}

.not-found-uh-oh {
    color: white;
    padding-top: 12rem;
    margin-bottom: 1rem;
}

.not-found-text {
    color: white;
}

.not-found-404 {
    color: white;
    padding-top: 6rem;
}

.not-found-btn {
    margin-top: 4rem;
}

/* Country not found page ends */
