<table id="autocomplete-comparison-list" class="table table-borderless">
    <tbody class="text-start">
        <tr>
            {% for country in countries %}
            <td><a class="lead text-decoration-none" href="{% url 'comparison_country_1' country_id=country.id %}"
                    style="color: black;">
                    {{ country.flag }} {{ country.name }}</a>
            </td>
            <td><a class="lead text-decoration-none" href="{% url 'comparison_country_1' country_id=country.id %}"
                    style="color: black;">
                    {{ country.region_formatted}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
