{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center ">Country Detail</h1>
            <div class="row">
                <div class="col-3">
                    {% for country in countries %}
                    <div class="card">
                        <div class="card-header pb-1">
                            <h5>Country</h5>
                        </div>
                        <div class="card-body pb-1">
                            <p><strong>Name:</strong> {{ country.name }} {% if country.source_link %}
                                <a href="{{ country.source_link }}" target="_blank"><i
                                        class="fa-solid fa-circle-info"></i></a> {% endif %}
                            </p>
                            <p><strong>Flag:</strong> {{ country.flag }}</p>
                            <p><strong>Population:</strong> {{ country.formatted_population }}</p>
                            <p><strong>GDP:</strong> {{ country.gdp_in_dollars }} per annum</p>
                            <p><strong>Internal Debt:</strong> {{ country.int_debt_in_dollars }}</p>
                            <p><strong>External Debt:</strong> {{ country.ext_debt_in_dollars }}</p>
                            <p><strong>Total Debt:</strong> {{ country.total_debt_in_dollars }}
                                {% if country.chart_link %}
                                <a href="{{ country.chart_link }}" target="_blank"><i
                                        class="fa-solid fa-chart-simple"></i></a> {% endif %}
                            </p>
                            <p><strong>Region:</strong> {{ country.region_formatted }}</p>
                            <p><strong>Continent:</strong> {{ country.continent_formatted }}</p>
                            <p><strong>Population % of the World:</strong>
                                {{ country.population_percentage_of_the_world }}</p>
                        </div>
                    </div>

                    <!-- Region GDP Chart -->
                    <canvas id="gdpChart" width="300" height="300"></canvas>
                    <script>
                        const ctx = document.getElementById('gdpChart').getContext('2d');
                        const gdpChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'Total Region GDP %',
                                    '{{ country.name }} GPD %',
                                ],
                                datasets: [{
                                    label: 'GDP chart',
                                    data: ["{{ country.total_region_gdp_pc_excluding_self }}", "{{ country.country_gdp_pc }}"],
                                    backgroundColor: [
                                        'rgba(90, 138, 211, 0.7)',
                                        'rgba(220, 235, 2, 0.7)'
                                    ],
                                    hoverOffset: 4
                                }]
                            }
                        });
                    </script>

                    <p class="lead text-center fs-6"> {{ country.name }}'s GDP %
                        of {{ country.region_formatted}}n region.</p>

                </div>
                <div class="col-9">
                    <div class="container">
                        <div class="card">
                            <div class="card-body pb-1">
                                <!-- Economic indicators Chart -->
                                <canvas id="econIndicatorsChart" width="500" height="270"></canvas>
                                <script>
                                    const ctx2 = document.getElementById('econIndicatorsChart').getContext('2d');
                                    const data = {
                                        labels: ["Internal Debt PP", "External Debt PP", "Total Debt PP", "GDP per Capita"],
                                        datasets: [{
                                            label: 'Economic Indicators per Citizen (US Dollar)',
                                            data: ["{{ country.internal_debt_per_citizen}}", "{{ country.external_debt_per_citizen }}", "{{ country.total_debt_per_citizen }}", "{{ country.gdp_per_capita }}"],
                                            borderRadius: 10,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.4)',
                                                'rgba(255, 159, 64, 0.4)',
                                                'rgba(54, 162, 235, 0.4)',
                                                'rgba(75, 192, 192, 0.4)',
                                            ],
                                            hoverBackgroundColor: [
                                                'rgba(255, 99, 132, 0.7)',
                                                'rgba(255, 159, 64, 0.7)',
                                                'rgba(54, 162, 235, 0.7)',
                                                'rgba(75, 192, 192, 0.7)',
                                            ],
                                            borderColor: [
                                                'rgb(255, 99, 132)',
                                                'rgb(255, 159, 64)',
                                                'rgb(54, 162, 235)',
                                                'rgb(75, 192, 192)',
                                            ],
                                            borderWidth: 1
                                        }]
                                    };

                                    const econIndicatorsChart = new Chart(ctx2, {
                                        type: 'bar', // Specify the chart type (bar chart in this case)
                                        data: data // Use the 'data' object defined earlier
                                    });
                                </script>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</main>

{% endblock content %}
