{% extends "base.html" %}

{% block title %} Country not found {% endblock title %}

{% block content %}
<div class="not-found-body">
    <div class="align-items-bottom">
        <div class="container ">
            <h1 class="display-1 not-found-uh-oh"><strong>Uh oh,</strong></h1>
            {% if query %}
            <h1 class="display-1 not-found-text"><strong>We could not find "{{ query }}". Maybe we need a new
                    compass?</strong></h1>
            <h1 class="display-5 not-found-text">🛩️ 🚙 🛳️ 🛸 🚲 🚄 🚀 + 🔍 🗺️</h1>
            {% endif%}
            <h2 class="display-4 not-found-404"><strong>Error 404 - country not found.</strong></h2>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-light btn-lg not-found-btn" href="{% url 'home' %}">Return home</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
