{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-3 col-md-7 col-sm-6">
                    {% for country in countries %}
                    <div class="card">
                        <div class="card-header pb-1">
                            <h5>Country</h5>
                        </div>
                        <div class="card-body pb-1">
                            <p><strong>Name:</strong> {{ country.name }} {% if country.source_link %}
                                <a href="{{ country.source_link }}" target="_blank"><i
                                        class="fa-solid fa-circle-info"></i></a> {% endif %}
                            </p>
                            <p><strong>Flag:</strong> {{ country.flag }}</p>
                            <p><strong>Population:</strong> {{ country.formatted_population }}</p>
                            <p><strong>GDP:</strong> {{ country.gdp_in_dollars }} per annum</p>
                            <p><strong>Internal Debt:</strong> {{ country.int_debt_in_dollars }}</p>
                            <p><strong>External Debt:</strong> {{ country.ext_debt_in_dollars }}</p>
                            <p><strong>Total Debt:</strong> {{ country.total_debt_in_dollars }}
                                {% if country.chart_link %}
                                <a href="{{ country.chart_link }}" target="_blank"><i
                                        class="fa-solid fa-chart-simple"></i></a> {% endif %}
                            </p>
                            <p><strong>Region:</strong> {{ country.region_formatted }}</p>
                            <p><strong>Continent:</strong> {{ country.continent_formatted }}</p>
                            <p><strong>Population % of the World:</strong>
                                {{ country.population_percentage_of_the_world }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 d-none d-lg-block">
                        <!-- Region GDP Chart -->
                        <canvas id="gdpChart" width="300" height="300"></canvas>
                        <script>
                            const ctx = document.getElementById('gdpChart').getContext('2d');
                            const gdpChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: [
                                        'Total Region GDP %',
                                        '{{ country.name }} GPD %',
                                    ],
                                    datasets: [{
                                        label: 'GDP chart',
                                        data: ["{{ country.total_region_gdp_pc_excluding_self }}", "{{ country.country_gdp_pc }}"],
                                        backgroundColor: [
                                            'rgba(90, 138, 211, 0.7)',
                                            'rgba(233, 116, 81, 0.7)'
                                        ],
                                        hoverOffset: 4
                                    }]
                                }
                            });
                        </script>

                        <p class="lead text-center fs-6 pt-4"> {{ country.name }}'s GDP %
                            of {{ country.region_formatted}}n region.</p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12">
                    <div class="container">
                        <div class="card">
                            <p class="h6 text-center pt-2">Economic Indicators per citizen (US Dollar)</p>
                            <div class="card-body">
                                <!-- Economic indicators Chart -->
                                <canvas id="econIndicatorsChart" width="500" height="270"></canvas>
                                <script>
                                    const ctx2 = document.getElementById('econIndicatorsChart').getContext('2d');
                                    const data = {
                                        labels: ["Internal Debt PP", "External Debt PP", "Total Debt PP", "GDP per Capita"],
                                        datasets: [{
                                            data: ["{{ country.internal_debt_per_citizen}}", "{{ country.external_debt_per_citizen }}", "{{ country.total_debt_per_citizen }}", "{{ country.gdp_per_capita }}"],
                                            borderRadius: 10,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.4)',
                                                'rgba(255, 159, 64, 0.4)',
                                                'rgba(54, 162, 235, 0.4)',
                                                'rgba(75, 192, 192, 0.4)',
                                            ],
                                            hoverBackgroundColor: [
                                                'rgba(255, 99, 132, 0.7)',
                                                'rgba(255, 159, 64, 0.7)',
                                                'rgba(54, 162, 235, 0.7)',
                                                'rgba(75, 192, 192, 0.7)',
                                            ],
                                            borderColor: [
                                                'rgb(255, 99, 132)',
                                                'rgb(255, 159, 64)',
                                                'rgb(54, 162, 235)',
                                                'rgb(75, 192, 192)',
                                            ],
                                            borderWidth: 1
                                        }]
                                    };

                                    const econIndicatorsChart = new Chart(ctx2, {
                                        type: 'bar',
                                        data: data,
                                        options: {
                                            plugins: {
                                                legend: {
                                                    display: false // Hide the legend
                                                }
                                            },
                                            scales: {
                                                x: {
                                                    grid: {
                                                        color: 'rgba(211,211,211, 0.2)' // Change the x-axis gridlines color
                                                    }
                                                },
                                                y: {
                                                    grid: {
                                                        color: 'rgba(211,211,211, 0.2)' // Change the y-axis gridlines color
                                                    }
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <!-- Some countries won't have GPD data, hence the conditional -->
                        {% if gdp_data %}
                        <div class="card-body pb-1">
                            <p class="h6 text-center">GDP 2007-2022 in (US Dollars)</p>
                            <!-- GDP Trend Chart -->
                            <canvas id="GDPTrendChart" width="500" height="270"></canvas>
                            <script>
                                years_graph_label = [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
                                gdp_model_data = ["{{ gdp_data.gdp1 }}", "{{ gdp_data.gdp2 }}", "{{ gdp_data.gdp3 }}", "{{ gdp_data.gdp4 }}", "{{ gdp_data.gdp5 }}", "{{ gdp_data.gdp6 }}",
                                    "{{ gdp_data.gdp7 }}", "{{ gdp_data.gdp8 }}", "{{ gdp_data.gdp9 }}", "{{ gdp_data.gdp10 }}", "{{ gdp_data.gdp11 }}", "{{ gdp_data.gdp12 }}",
                                    "{{ gdp_data.gdp13 }}", "{{ gdp_data.gdp14 }}", "{{ gdp_data.gdp15 }}"
                                ]
                                const ctx3 = document.getElementById('GDPTrendChart').getContext('2d');
                                const gdp_trend_data = {
                                    labels: years_graph_label,
                                    datasets: [{
                                        data: gdp_model_data,
                                        fill: false,
                                        borderColor: '#54B4D3',
                                        tension: 0.2,
                                    }],
                                };
                                const gdp_trend_chart = new Chart(ctx3, {
                                    type: 'line',
                                    data: gdp_trend_data,
                                    options: {
                                        plugins: {
                                            legend: {
                                                display: false // Hide the legend
                                            }
                                        },
                                        scales: {
                                            x: {
                                                grid: {
                                                    display: false, // Hide x-axis gridlines
                                                }
                                            },
                                            y: {
                                                grid: {
                                                    color: 'rgba(211,211,211, 0.2)' // Change the y-axis gridlines color
                                                }
                                            }
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</main>

{% endblock content %}
