{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

<div class="container min-vh-300 py-4">
    <div class="col-md-9 mx-auto" id="form-vertical-position">
        <div>
            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill form-control-lg" autocomplete="off" name="q"
                    type="text" placeholder="Search..." hx-get="{% url 'search_countries' %}" hx-include="[name='q']"
                    hx-trigger="keyup changed delay:100ms, search" hx-target="#country-results" />
                <span class=" input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill btn-lg ms-n5"
                        type="submit">
                        <i class="fa-solid fa-earth-americas"></i>
                    </button>
                </span>
            </div>
            <div id="country-results"></div>
        </div>
    </div>


    <div class="welcome-msg-body">
        <div class="welcome-msg-message display-1" id="message">
            Type a country's name to search...
        </div>
    </div>




    <script>
        // Annimates welcome message
        function showMessage(element, text) {
            const words = text.split(' ');
            let i = 0;

            function displayWord() {
                if (i < words.length) {
                    element.innerHTML += ' ' + words[i];
                    i++;
                    setTimeout(displayWord, 300);
                } else {
                    element.style.opacity = '1';
                    element.style.transform = 'translateY(0)';

                    // Hide the message after 5 seconds
                    setTimeout(() => {
                        element.style.opacity = '0';
                        element.style.transform = 'translateY(100%)';
                    }, 4000);
                }
            }

            displayWord();
        }

        const messageElement = document.getElementById('message');
        showMessage(messageElement, '');
    </script>

    {% endblock content %}
