<div class="container">
  <table class="table table-borderless">
    <tbody>
      <tr>
        {% for country in countries %}
        <td class="text-end"><a class="lead" href="{% url 'country_details' country_id=country.id %}"
            style="text-decoration: none; color: black;">
            {{ country.flag }}</a></td>
        <td><a class="lead" href="{% url 'country_details' country_id=country.id %}"
            style="text-decoration: none; color: black;">
            {{ country.name }}</a>
        </td>
        <div class="d-flex flex-row-reverse">
          <td class="text-start"><a class="lead" href="{% url 'country_details' country_id=country.id %}"
              style="text-decoration: none; color: black;">
              {{ country.region_formatted }}</a></td>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
