{% load static %}
{# Load the tag library #}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Search and visualize world and countrie's debt." />
    <meta name="author" content="Ronard Luna (ronarddevelops@gmail.com)" />
    <title>{% block title %}{% endblock title %}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XQ1N33KSH1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XQ1N33KSH1');
    </script>

    <link rel="icon" href="/static/imgs/logo-chart.png">
    <!-- Load Django Bootstrap5 CSS and JavaScript  -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- HTMX -->
    <script src="{% static '/js/htmx.min.js' %}" defer></script>
    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    <!-- Charts.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.min.js"></script>

</head>

<body hx-boost="true">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light d-lg-block">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" href="{% url 'home' %}" hx-boost="false">
                <img src="/static/imgs/logo-chart.png" alt="Debt Visual Logo" style="width: 2.5rem;">
                <strong>Debt Visual</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}"> 🔍 Country</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'countries-comparison' %}" rel="nofollow">Compare Debt</a>
                    </li>
                    <li class="nav-item dropdown">
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Top 10 highest debt</a></li>
                            <li><a class="dropdown-item" href="#">Top 10 lowest debt</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">App info</a>
                    </li>
                </ul>

                <ul class="navbar-nav list-inline">
                    <!-- Icons -->
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/ronardluna/" rel="nofollow"
                            target="_blank">
                            <i class="fa-brands fa-linkedin-in fa-beat-fade"></i> LinkedIn
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/ronardcaktus/debt-visual" rel="nofollow"
                            target="_blank">
                            <i class="fa-brands fa-github fa-bounce"></i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>

</body>

</html>
